#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer { 
	    display-name = "Layer 0";
            bindings = <
   &kp 01   &kp 02    &kp 03 &kp 04 &kp 05 &kp 06    &kp 07 &kp 08  &kp 09     &kp 10   &kp 11    &kp 12
   &kp 13 &kp 14    &kp 15 &kp 16 &kp 17 &kp 18    &kp 19 &kp 20  &kp 21     &kp 22   &kp 23 &kp 24
   &kp 25 &kp 26    &kp 27 &kp 28 &kp 29 &kp 30    &kp 31 &kp 32  &kp 33 &kp 34 &kp 35 &kp 36
             &kp 37 &kp 38 &mo 39 &kp 40   &kp 41 &kp 42 &kp 43 &kp 44
            >;
	};
	lower_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BSPC |
// | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
// | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        bindings = <
   &kp TAB    &kp N1       &kp N2       &kp N3       &kp N4       &kp N5         &kp N6   &kp N7   &kp N8 &kp N9    &kp N0 &kp BSPC
  &trans &trans &trans &trans &trans &trans  &kp LEFT &kp DOWN &kp UP &kp RIGHT &trans &trans
   &kp LSHFT  &trans       &trans       &trans       &trans       &trans         &trans   &trans   &trans &trans    &trans &trans
                               &trans     &kp LGUI     &trans       &kp SPACE      &kp RET  &trans   &kp RALT &trans
                        >;
              	  };

               	 raise_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BSPC |
// | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
// | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        bindings = <
   &kp  TAB  &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT   &kp CARET &kp AMPS  &kp ASTRK &kp LPAR &kp RPAR &kp BSPC
   &kp LCTRL &trans   &trans &trans   &trans   &trans      &kp MINUS &kp EQUAL &kp LBKT  &kp RBKT &kp BSLH &kp GRAVE
   &kp LSHFT &trans   &trans &trans   &trans   &trans      &kp UNDER &kp PLUS  &kp LBRC  &kp RBRC &kp PIPE &kp TILDE
                      &trans       &kp LGUI &trans   &kp SPACE   &kp RET   &trans    &kp RALT &trans
                        >;

 	       };
    extra1 {
            status = "reserved";
        };

        extra2 {
            status = "reserved";
        };
    };
 };