# No whitespace after the comma or in your part name!
config SHIELD_HALF_PLANK_LEFT
    def_bool $(shields_list_contains,half_plank_left)

# No whitespace after the comma or in your part name!
config SHIELD_HALF_PLANK_RIGHT
    def_bool $(shields_list_contains,half_plank_right)
